.btn {
    display: inline-block;
    border: none;
    text-decoration: none;
    padding: $main_size*1.5 $main_size*5;
    font-size: $main_size*2;
    letter-spacing: 1.5;
    border-radius: $main_size/2;
    text-align: $position;
    width: $main_size*20;
    transition: all 0.6s ease;
    cursor: pointer;
    margin: $main_size;
    opacity: 0.95;
}
