.sect_blog h1 {
    color: $color_grey;
    margin-bottom: $main_size*4;
    margin-top: $main_size*4;
    font-size: 3em;
    font-family: $font-family-secondary;
}

.sect_blog .container{
    max-width: 1200px;
    margin: auto;
}

.sect_blog{
    min-height: 1000px;
}

.blog {
    &-home {
        grid-gap: $main_size*2;
        grid-template-columns: repeat(4, 1fr);
    }

    &-item {
        background-color: lighten($color_grey, 46);
        overflow: hidden;
        text-decoration: none;
        transition: background-color 0.5s ease;
        color: $color_grey;

        &:hover {
            background-color: lighten($color_grey, 35);
        }

        &-img {
            min-height: 280px;
            background-size: cover;
            background-position: $position;
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.1) translateY(-11px);
            }
        }

        &-content {
            padding: $main_size*2;
            text-align: $position;
            align-content: $position;
            text-decoration: none;

            h4 {
                font-size: $main_size*1.8;
                line-height: 1.5;
                margin: $zero_size;
            }

            p {
                margin-top: $main_size*2;
                margin-bottom: $zero_size;
            }
        }

        &:nth-child(3) {
            grid-column: 3/5;
        }

        &:nth-child(4) {
            grid-column: 1/3;
        }
    }
}

.frame {
    position: relative;
    display: block;
    width: 100%;
    padding: $zero_size;
    min-height: $main_size*40;

    &-item {
        position: absolute;
        top: $zero_size;
        left: $zero_size;
        width: 100%;
        height: 100%;
        border: $zero_size;
    }
}

    /*btnBlog*/

.btnBlog input{
    justify-self: center;
    margin-top: $main_size * 5;
}