$zero_size: 0px;
$main_size: 10px;
$full_width: 100%;
$full_height: 787px;
$padd_bottom:34px;
$main_font: Oswald;
$color_orange: orange;
$size-width: 100;
$color_dark: #333;
$color_blue: #308eee;
$color_green: #56eb1a;
$connection_height: 100px;
$color_grey: #808080;
$color_white: white;
$font-family-secondary: sans-serif;
$position: center;


@import 'buttons';
@import 'sect_about';
@import 'sect_connection';
@import 'sect_img';
@import '_sect_blog';
@import '_sect_footer';

body {
    margin: $zero_size;
    font-family: $main_font;
}

.grid{
    display: grid;
}

header {
    width: $full_width;
    min-height: $full_height;
    background-image: url('../img/header.jpg');
    background-size: cover;
    position: relative;
    align-content: $position;
    text-align: $position;

    &::before {
        content: "";
        background-color: $color_grey;
        position: absolute;
        top: $zero_size;
        left: $zero_size;
        bottom: $zero_size;
        right: $zero_size;
        opacity: 0.65;
    }

    .head-container{
        z-index: 1;
        padding: $main_size*6 $main_size*2;
        color: lighten($color_dark, 100);

        h1{
            font-size: $main_size*6;
            line-height: 1.5;
            margin: $main_size*2 $zero_size;
        }
    }
}

img{
    cursor: pointer;
}


            /*  @MEDIA   */

@media all and (max-width: 992px){
    header {

        h1 span {
            display: block;
            font-size: $main_size*15;
        }

        .btn {
            display: block;
            width: 60%;
            margin: $main_size*5 auto;
            font-size: $main_size*4;
            font-weight: bold;
        }
    }

    .sect_about {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }

        .writeleft {
            letter-spacing: 1px;

            padding: {
                top: $main_size*2;
                left: $main_size*7;
                right: $main_size*5;
                bottom: $zero_size;
            }

            h2 {
                font-size: $main_size*4;

                margin: {
                    top: $zero_size;
                    bottom: $main_size*4;
                    left: 26%;
                }
            }

            p {
                font-size: $main_size*3;
            }
        }

        .writeright {
            display: none;
        }
    }

    .connection {
        form {
            grid-template-columns: repeat(1, 1fr);
        }

        .container {
            margin: auto;
            padding: $zero_size $main_size*2;
        }

        input {
            width: 90%;
            text-align: center;
            font-size: $main_size*3;
        }
    }

    .section-img {
        grid-template-columns: repeat(2, 1fr);

        .item-img {
            &:nth {
                &-child(1) {
                    grid-column: 1;
                }

                &-child(4) {
                    grid-column: 2;
                }

                &-child(5) {
                    grid-column: 1;
                    grid-row: 3;
                }

                &-child(8) {
                    grid-column: 2;
                    grid-row: 4;
                }
            }
        }
    }

    .sect_blog {
        h1 {
            margin-left: $main_size*5;
        }

        .blog {
            &-home {
                grid-template-columns: repeat(2, 1fr);
            }

            &-item:nth {

                &-child(3) {
                    grid-column: 1/3;
                    grid-row: 2;
                }

                &-child(4) {
                    grid-column: 1/3;
                    grid-row: 3;
                }

                &-child(5) {
                    grid-column: 1;
                    grid-row: 4;
                }

                &-child(6) {
                    grid-column: 2;
                    grid-row: 4;
                }

                &-content {
                    height: $main_size*8;

                    h4 {
                        font-size: $main_size*4;
                    }

                    p {
                        display: none;
                    }
                }

                .frame {
                    height: $main_size*60;

                    &-item {
                        height: $main_size*60;
                    }
                }
            }
        }
    }

    .btnBlog input {
        justify-self: center;
        margin-top: $main_size * 5;
        width: $main_size*30;
        height: $main_size*10;
    }

    footer {
        h2 {
            font-size: $main_size*10;
        }

        p {
            position: relative;
            bottom: $main_size*5;
            font-size: $main_size*5;
        }

    }

}




@media all and (max-width: 640px) {
    .head-container {
        span {
            font-size: $main_size*2+5;
            display: inline-block;
        }
    }

    .section-img {
        grid-template-columns: repeat(1, 1fr);

        .item-img {

            &:nth {
                &-child(1) {
                    grid-column: 1;
                }

                &-child(2) {
                    grid-column: 1;
                }

                &-child(4) {
                    grid-column: 1;
                }

                &-child(5) {
                    grid-column: 1;
                    grid-row: 5;
                }

                &-child(8) {
                    grid-column: 1;
                    grid-row: 8;
                }
            }
        }
    }

    .sect_blog {
        h1 {
            font-size: $main_size*3+5;
        }

        .blog {
            &-home {
                grid-template-columns: repeat(1, 1fr);
            }

            &-item:nth {

                &-child(1) {
                    grid-column: 1;
                    grid-row: 1;
                }

                &-child(2) {
                    grid-column: 1;
                    grid-row: 2;
                }

                &-child(3) {
                    grid-column: 1;
                    grid-row: 3;
                }

                &-child(4) {
                    grid-column: 1;
                    grid-row: 4;
                }

                &-child(5) {
                    grid-column: 1;
                    grid-row: 5;
                }

                &-child(6) {
                    grid-column: 1;
                    grid-row: 6;
                }
            }
        }
    }
}

@media all and (max-width: 480px) {
    header {
        .btn {
            font-size: $main_size*2+5;
        }
    }

    .sect_about {
        .writeleft {

            h2 {
                margin-left: 5%;
                font-size: $main_size*2+5;
            }

            p {
                font-size: $main_size*2+5;
            }
        }
    }

    .connection input {
        font-size: 23px;
    }

    .sect_blog h1 {
        font-size: 25px;
    }

    footer{ 
        h2 {
        font-size: $main_size*7;
        }
        
        p{
            top: $main_size;
        }
    }
}