.btn {
  display: inline-block;
  border: none;
  color: white;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 20px;
  letter-spacing: 1.5;
  border-radius: 5px;
  text-align: center;
  width: 220px;
  transition: all 0.6s ease;
  cursor: pointer;
  font-family: sans-serif;
  margin: 10px;
  opacity: 1; }

.btn-html {
  background-color: orange;
  box-shadow: 3px 3px 7px #f39d00; }

.btn-html:hover {
  box-shadow: 3px 3px 7px #8f5c00;
  background-color: #f39d00; }

.btn-css {
  background-color: #308eee;
  box-shadow: 3px 3px 7px #2f8dee; }

.btn-css:hover {
  background-color: #2f8dee;
  box-shadow: 3px 3px 7px #06294c; }

.btn-js {
  background-color: #56eb1a;
  box-shadow: 3px 3px 7px #55eb19; }

.btn-js:hover {
  background-color: #50e514;
  box-shadow: 3px 3px 7px #236309; }

.sect_about {
  background-color: whitesmoke;
  color: #343434; }

.sect_about .container {
  grid-template-columns: 1fr 1fr; }

.writeleft {
  border-right: 1px solid #808080;
  font-size: 18px;
  padding-top: 60px;
  padding-left: 220px;
  padding-right: 60px;
  padding-bottom: 10px; }

.writeleft h2 {
  margin-top: 0px;
  margin-bottom: 40px; }

.writeright {
  background-image: url(../img/1.jpg);
  background-size: cover;
  padding: 20px;
  border: 30px solid whitesmoke; }

.connection {
  padding: 30px 0px;
  background-color: #525252; }

.connection .container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px; }

.connection form {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  padding-left: 20px;
  padding-right: 20px; }

.connection input {
  border: none;
  width: 220px;
  height: 80px;
  font-family: sans-serif;
  background-color: #949494;
  transition: background-color 0.6s ease;
  color: #333;
  outline: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding-left: 10px; }

.connection input:focus {
  background-color: whitesmoke; }

.connection input[type="button"] {
  background-color: #308eee;
  border-radius: 5px;
  font-size: 30px;
  padding: 14.5px;
  margin-top: 0px;
  color: white;
  transition: all 0.6s ease;
  cursor: pointer; }

.section-img {
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  grid-gap: 10px; }

.item-img {
  min-height: 180px;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-content: center;
  padding: 20px;
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: #b3b3b3;
  opacity: 0.65; }

.item-img:hover {
  opacity: 1; }

.item-img span {
  position: relative;
  z-index: 1; }

.item-img:nth-child(1) {
  grid-column: 1/3;
  background-image: url(../img/5.png);
  background-size: contain; }

.item-img:nth-child(2) {
  background-image: url(../img/6.png); }

.item-img:nth-child(3) {
  background-image: url(../img/4.jpg); }

.item-img:nth-child(4) {
  grid-column: 2 / 4;
  background-image: url(../img/3.jpg); }

.item-img:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  background-image: url(../img/8.jpg); }

.item-img:nth-child(6) {
  background-image: url(../img/7.jpg); }

.item-img:nth-child(7) {
  background-image: url(../img/abb.jpg); }

.item-img:nth-child(8) {
  grid-column: 1 / 4;
  background-image: url(../img/blog2.jpg); }

.sect_blog h1 {
  color: #808080;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 3em;
  font-family: sans-serif; }

.sect_blog .container {
  max-width: 1200px;
  margin: auto; }

.sect_blog {
  min-height: 1000px; }

.blog-home {
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr); }

.blog-item {
  background-color: whitesmoke;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 0.5s ease;
  color: #808080; }

.blog-item:hover {
  background-color: #d9d9d9; }

.blog-item-img {
  min-height: 280px;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease; }

.blog-item-img:hover {
  transform: scale(1.1) translateY(-11px); }

.blog-item-content {
  padding: 20px;
  text-align: center;
  align-content: center;
  text-decoration: none; }

.blog-item-content h4 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0px; }

.blog-item-content p {
  margin-top: 20px;
  margin-bottom: 0px; }

.blog-item:nth-child(3) {
  grid-column: 3/5; }

.blog-item:nth-child(4) {
  grid-column: 1/3; }

.frame {
  position: relative;
  display: block;
  width: 100%;
  padding: 0px; }

.frame-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0px; }

/*btnBlog*/
.btnBlog input {
  justify-self: center;
  margin-top: 50px; }

footer {
  width: 100%;
  height: 230px;
  background-color: #4d4d4d;
  margin-top: 15px; }

footer .headerFooter {
  justify-self: center;
  text-align: center;
  align-self: center;
  letter-spacing: 2px;
  color: white;
  font-size: 20px; }

footer .headerFooter h2 {
  position: relative;
  top: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: normal; }

body {
  margin: 0px;
  font-family: Oswald; }

.grid {
  display: grid; }

header {
  width: 100%;
  height: 787px;
  background-image: url("../img/header.jpg");
  background-size: cover;
  position: relative;
  align-content: center;
  text-align: center; }

header::before {
  content: "";
  background-color: #808080;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.65; }

header .head-container {
  z-index: 1;
  padding: 60px 20px;
  color: white; }

header .head-container h1 {
  font-size: 60px;
  line-height: 1.5;
  margin: 20px 0px; }
